<form [formGroup]="form">
<div class="container">
  <div class="card flex justify-content-center">
    <p-card header="Inicio de Sesion" [style]="{ width: '360px' }">
      <ng-template pTemplate="header">
        <img alt="Card" src="assets/login.png" />
      </ng-template>

        <span class="p-float-label">
          <input pInputText id="username" formControlName="email" />
          <label htmlFor="username">Correo electronico</label>
        </span>

        <span class="p-float-label">
        <p-password formControlName="usrPass" [feedback]="false" [toggleMask]="true"></p-password>
        <label>Contraseña</label>
    </span>

      <ng-template pTemplate="footer">
        <p-button label="Ingresar" icon="pi pi-check" (onClick)="submit()"></p-button>
        <p-button label="Registrar usuario" icon="pi pi-times" (onClick)="registerUser()" styleClass="p-button-secondary" [style]="{ 'margin-left': '.5em' }"></p-button>
      </ng-template>
    </p-card>
  </div>
</div>
</form>
