<form [formGroup]="form">
  <div class="card flex justify-content-center">
    <span class="p-float-label">
          <input pInputText id="fullname" formControlName="fullName" />
          <label htmlFor="fullname">Nombre Completo</label>
        </span>
    <span class="p-float-label">
          <input pInputText id="username" formControlName="userName" />
          <label htmlFor="username">Usuario</label>
        </span>
    <span class="p-float-label">
          <input pInputText id="email" formControlName="email" />
          <label htmlFor="email">Correo electronico</label>
        </span>
    <span class="p-float-label">
        <p-password formControlName="usrPass" [feedback]="false" [toggleMask]="true"></p-password>
        <label>Contraseña</label>
    </span>
    <p-button label="Registrar" [loading]="loading" (click)="submit()"></p-button>
  </div>
</form>
